<div>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{qrCode.restaurantIdFkNavigation.restaurantName +': '+ orders[0].creationTime.calendar() }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid content-row" style="margin-top: 15px;">
      <div class="row">
        <div class="col-sm-12 col-md-auto" *ngFor="let m of orders[0].orderLine" ><!---->
          <div class="card h-100">
          <div class="card-header d-flex flex-column">
            <div class="card-title" style="font-weight: bold;">{{m.menuItemIdFkNavigation.menuItemName}}</div><!---->

          </div>
          <div class="card-body">
            <p class="card-text"> Quantity: {{m.itemQty}}</p>
            <p class="card-text"> {{m.menuItemIdFkNavigation.menuItemPrice | currency:"R "}}</p>
          </div>
          <div class="card-footer mt-auto">
            <p class="card-text text-right" style="font-weight: bold;">Item Total: {{m.menuItemIdFkNavigation.menuItemPrice * m.itemQty | currency:"R "}}</p><!---->
          </div>
        </div>

        </div>
        <div class="col-sm-12 col-md-auto" style="margin-top: 15px;">
          <div class="card h-100">
            <div class="card-footer mt-auto">
              <p class="card-text text-right">Sub Total:{{total - totalVat | currency:"R "}} </p><!---->

              <p class="card-text text-right">VAT (15%):{{totalVat | currency:"R "}} </p><!---->

              <p class="card-text text-right" style="font-weight: bold;">Total:{{total | currency:"R "}} </p><!---->
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
