
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{restaurant.restaurantName}}'s Menu</h1>
        </div>
        <div  class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createMenuItemCategory()">
            <i class=""></i>
            View Order: {{cartCount}}
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid"  style="margin-top: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center" style="font-weight: bold;">BEER</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-row">
    <div class="row">
      <div class="col-sm-12 col-md-auto" *ngFor="let m of finalMenuItems" ><!---->
        <div class="card h-100">
        <div class="card-header d-flex flex-column">
          <div class="card-title">{{m.menuItemName}}</div><!---->
          <div class="text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
              <i class="fa fa-plus-square"></i>
              {{ "" | localize }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{m.menuItemDescription}}</p>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
        </div>
      </div>
      </div>
    </div>
  </div>



  <div *ngIf="miBEER.length !=0">
    <div class="container-fluid"  style="margin-top: 15px;">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header text-center" style="font-weight: bold;">BEERS</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid content-row">
      <div class="row">
        <div class="col-sm-12 col-md-auto" *ngFor="let m of miBEER" ><!---->
          <div class="card h-100">
          <div class="card-header d-flex flex-column">
            <div class="card-title">{{m.menuItemName}}</div><!---->
            <div class="text-right">
              <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
                <i class="fa fa-plus-square"></i>
                {{ "" | localize }}
              </a>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text">{{m.menuItemDescription}}</p>
          </div>
          <div class="card-footer mt-auto">
            <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="miLAGERS.length != 0">
  <div class="container-fluid"  style="margin-top: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center" style="font-weight: bold;">LAGERS</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-row">
    <div class="row">
      <div class="col-sm-12 col-md-auto" *ngFor="let m of miLAGERS" ><!---->
        <div class="card h-100">
        <div class="card-header d-flex flex-column">
          <div class="card-title">{{m.menuItemName}}</div><!---->
          <div class="text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
              <i class="fa fa-plus-square"></i>
              {{ "" | localize }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{m.menuItemDescription}}</p>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="miPILSNER.length !=0">
  <div class="container-fluid"  style="margin-top: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center" style="font-weight: bold;">PILSNERS</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-row">
    <div class="row">
      <div class="col-sm-12 col-md-auto" *ngFor="let m of miPILSNER" ><!---->
        <div class="card h-100">
        <div class="card-header d-flex flex-column">
          <div class="card-title">{{m.menuItemName}}</div><!---->
          <div class="text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
              <i class="fa fa-plus-square"></i>
              {{ "" | localize }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{m.menuItemDescription}}</p>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="miWEIS.length !=0">
  <div class="container-fluid"  style="margin-top: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center" style="font-weight: bold;">WEIS</div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content-row">
    <div class="row">
      <div class="col-sm-12 col-md-auto" *ngFor="let m of miWEIS" ><!---->
        <div class="card h-100">
        <div class="card-header d-flex flex-column">
          <div class="card-title">{{m.menuItemName}}</div><!---->
          <div class="text-right">
            <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
              <i class="fa fa-plus-square"></i>
              {{ "" | localize }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">{{m.menuItemDescription}}</p>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="miGOLDEN.length != 0">
<div class="container-fluid"  style="margin-top: 15px;">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center" style="font-weight: bold;">GOLDEN ALES</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid content-row">
  <div class="row">
    <div class="col-sm-12 col-md-auto" *ngFor="let m of miLAGERS" ><!---->
      <div class="card h-100">
      <div class="card-header d-flex flex-column">
        <div class="card-title">{{m.menuItemName}}</div><!---->
        <div class="text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
            <i class="fa fa-plus-square"></i>
            {{ "" | localize }}
          </a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{m.menuItemDescription}}</p>
      </div>
      <div class="card-footer mt-auto">
        <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
      </div>
    </div>
    </div>
  </div>
</div>
</div>


<div *ngIf="miAMBER.length !=0">
<div class="container-fluid"  style="margin-top: 15px;">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center" style="font-weight: bold;">AMBER ALES</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid content-row">
  <div class="row">
    <div class="col-sm-12 col-md-auto" *ngFor="let m of miAMBER" ><!---->
      <div class="card h-100">
      <div class="card-header d-flex flex-column">
        <div class="card-title">{{m.menuItemName}}</div><!---->
        <div class="text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
            <i class="fa fa-plus-square"></i>
            {{ "" | localize }}
          </a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{m.menuItemDescription}}</p>
      </div>
      <div class="card-footer mt-auto">
        <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="miBLONDE.length !=0">
  <div class="container-fluid"  style="margin-top: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center" style="font-weight: bold;">BLONDE ALES</div>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid content-row">
  <div class="row">
    <div class="col-sm-12 col-md-auto" *ngFor="let m of miBLONDE" ><!---->
      <div class="card h-100">
      <div class="card-header d-flex flex-column">
        <div class="card-title">{{m.menuItemName}}</div><!---->
        <div class="text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
            <i class="fa fa-plus-square"></i>
            {{ "" | localize }}
          </a>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">{{m.menuItemDescription}}</p>
      </div>
      <div class="card-footer mt-auto">
        <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
      </div>
    </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="miSTRONG.length != 0">
<div class="container-fluid"  style="margin-top: 15px;">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-center" style="font-weight: bold;">STRONG PALE ALES</div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid content-row">
<div class="row">
  <div class="col-sm-12 col-md-auto" *ngFor="let m of miSTRONG" ><!---->
    <div class="card h-100">
    <div class="card-header d-flex flex-column">
      <div class="card-title">{{m.menuItemName}}</div><!---->
      <div class="text-right">
        <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
          <i class="fa fa-plus-square"></i>
          {{ "" | localize }}
        </a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{m.menuItemDescription}}</p>
    </div>
    <div class="card-footer mt-auto">
      <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
    </div>
  </div>
  </div>
</div>
</div>
</div>


<div *ngIf="miIPA.length !=0">
<div class="container-fluid"  style="margin-top: 15px;">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-center" style="font-weight: bold;">INDIAN PALE ALES</div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid content-row">
<div class="row">
  <div class="col-sm-12 col-md-auto" *ngFor="let m of miIPA" ><!---->
    <div class="card h-100">
    <div class="card-header d-flex flex-column">
      <div class="card-title">{{m.menuItemName}}</div><!---->
      <div class="text-right">
        <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
          <i class="fa fa-plus-square"></i>
          {{ "" | localize }}
        </a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{m.menuItemDescription}}</p>
    </div>
    <div class="card-footer mt-auto">
      <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
    </div>
  </div>
  </div>
</div>
</div>
</div>

<div *ngIf="miPALE.length !=0">
<div class="container-fluid"  style="margin-top: 15px;">
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-center" style="font-weight: bold;">PALE</div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid content-row">
<div class="row">
  <div class="col-sm-12 col-md-auto" *ngFor="let m of miPALE" ><!---->
    <div class="card h-100">
    <div class="card-header d-flex flex-column">
      <div class="card-title">{{m.menuItemName}}</div><!---->
      <div class="text-right">
        <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
          <i class="fa fa-plus-square"></i>
          {{ "" | localize }}
        </a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{m.menuItemDescription}}</p>
    </div>
    <div class="card-footer mt-auto">
      <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
    </div>
  </div>
  </div>
</div>
</div>
</div>

<div *ngIf="miSTOUT.length != 0">
<div class="container-fluid"  style="margin-top: 15px;">
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-header text-center" style="font-weight: bold;">STOUTS</div>
  </div>
</div>
</div>
</div>

<div class="container-fluid content-row">
<div class="row">
<div class="col-sm-12 col-md-auto" *ngFor="let m of miSTOUT" ><!---->
  <div class="card h-100">
  <div class="card-header d-flex flex-column">
    <div class="card-title">{{m.menuItemName}}</div><!---->
    <div class="text-right">
      <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
        <i class="fa fa-plus-square"></i>
        {{ "" | localize }}
      </a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{m.menuItemDescription}}</p>
  </div>
  <div class="card-footer mt-auto">
    <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
  </div>
</div>
</div>
</div>
</div>
</div>


<div *ngIf="miTRAPPIST.length !=0">
<div class="container-fluid"  style="margin-top: 15px;">
<div class="row">
<div class="col-12">
  <div class="card">
    <div class="card-header text-center" style="font-weight: bold;">TRAPPISTS</div>
  </div>
</div>
</div>
</div>

<div class="container-fluid content-row">
<div class="row">
<div class="col-sm-12 col-md-auto" *ngFor="let m of miTRAPPIST" ><!---->
  <div class="card h-100">
  <div class="card-header d-flex flex-column">
    <div class="card-title">{{m.menuItemName}}</div><!---->
    <div class="text-right">
      <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
        <i class="fa fa-plus-square"></i>
        {{ "" | localize }}
      </a>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{m.menuItemDescription}}</p>
  </div>
  <div class="card-footer mt-auto">
    <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
  </div>
</div>
</div>
</div>
</div>
</div>

<div *ngIf="miCIDER.length !=0">
  <div class="container-fluid"  style="margin-top: 15px;">
  <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header text-center" style="font-weight: bold;">CIDERS</div>
    </div>
  </div>
  </div>
  </div>

  <div class="container-fluid content-row">
  <div class="row">
  <div class="col-sm-12 col-md-auto" *ngFor="let m of miCIDER" ><!---->
    <div class="card h-100">
    <div class="card-header d-flex flex-column">
      <div class="card-title">{{m.menuItemName}}</div><!---->
      <div class="text-right">
        <a href="javascript:;" class="btn bg-blue" (click)="addToOrder(m)">
          <i class="fa fa-plus-square"></i>
          {{ "" | localize }}
        </a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{m.menuItemDescription}}</p>
    </div>
    <div class="card-footer mt-auto">
      <p class="card-text">{{m.menuItemPriceIdFkNavigation.menuItemPrice1 | currency:"R "}}</p><!---->
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>









