<form
  class="form-horizontal"
  autocomplete="off"
  #createCustomerReservationForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewCustomerReservation' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="rest">
        {{ "Restaurant" | localize }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          name="rest"
          id="rest"
          required
          [(ngModel)]="reservation.restaurantIdFk"
          #restModel="ngModel"
          #restEl>
            <option *ngFor="let r of restaurants" value={{r.id}}>{{r.restaurantName}}</option>
        </select>
        <abp-validation-summary
          [control]="restModel"
          [controlEl]="restEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="resDate">
        {{ "CustomerReservation Date " | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="datetime-local"
          class="form-control"
          name="resDate"
          id="resDate"
          maxlength="128"
          required
          [min]="currentDate"
          [(ngModel)]="reservation.reservationDateReserved"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row">
      <!--<label class="col-md-3 col-form-label" for="userId">
        {{ "UserId" | localize }}
      </label>-->
      <div class="col-md-9">
        <input
          type="text"
          style="display: none;"
          class="form-control"
          name="userId"
          id="userId"
          maxlength="1024"
          value={{iUserId}}
          [(ngModel)]="reservation.userIdFk"
          #userIdModel="ngModel"
          #userIdEl
        />
    <abp-validation-summary
          [control]="userIdModel"
          [controlEl]="userIdEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="pQty">
        {{ "Party Qty" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="pQty"
          [min]="0"
          id="pQty"
          maxlength="1024"
          [(ngModel)]="reservation.reservationPartyQty"
          #pQtyModel="ngModel"
          #pQtyEl
        />
    <abp-validation-summary
          [control]="pQtyModel"
          [controlEl]="pQtyEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="nrBill">
        {{ "Nr of Bills" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="nrBill"
          [min]="1"
          id="nrBill"
          maxlength="1024"
          [(ngModel)]="reservation.reservationNumberOfBills"
          #nrBillModel="ngModel"
          #nrBillEl
        />
    <abp-validation-summary
          [control]="nrBillModel"
          [controlEl]="nrBillEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <div class="col-md-9">
        <input
          type="text"
          style="display: none;"
          class="form-control"
          name="status"
          id="status"
          maxlength="1024"
          value={{defaultResStatusID}}
          [(ngModel)]="reservation.reservationStatusIdFk"
          #statusModel="ngModel"
          #statusEl
        />
        <abp-validation-summary
          [control]="statusModel"
          [controlEl]="statusEl"
        ></abp-validation-summary>
      </div>
    </div>

    <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createCustomerReservationForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>

</div>
</form>
    <!--
<div class="form-group row">
      <label class="col-md-3 col-form-label" for="connectionString">
        {{ "DatabaseConnectionString" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="connectionString"
          id="connectionString"
          maxlength="1024"
          [(ngModel)]="customerReservation.connectionString"
        />
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "Id" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="tenancyName"
          id="tenancyName"
          minlength="2"
          maxlength="64"
          required
          [(ngModel)]="customerReservation.id"
          #tenancyNameModel="ngModel"
          #tenancyNameEl
        />
        <abp-validation-summary
          [control]="tenancyNameModel"
          [controlEl]="tenancyNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="adminEmailAddress">
        {{ "AdminEmailAddress" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="email"
          class="form-control"
          name="adminEmailAddress"
          id="adminEmailAddress"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
          maxlength="256"
          required
          [(ngModel)]="customerReservation.adminEmailAddress"
          #adminEmailAddressModel="ngModel"
          #adminEmailAddressEl
        />
        <abp-validation-summary
          [control]="adminEmailAddressModel"
          [controlEl]="adminEmailAddressEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            name="isActive"
            id="isActive"
            [(ngModel)]="customerReservation.isActive"
          />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
    <p class="text-center text-info mb-0">
      {{ "DefaultPasswordIs" | localize: "123qwe" }}
    </p>

    -->


